{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Edit Panel|SorSU-BC Monitoring System</title>
    <link rel="website icon" type="png" href="{% static 'assets/img/SSUlogo.png' %}"

    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="{% static 'assets/modules/jquery-selectric/selectric.css' %}">

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <!-- Start GA -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>

</head>
<body style="background-color: #e7e7e7;">

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
            <div class="login-brand">
                <img src="{% static 'assets/img/SSUlogo.png' %}" alt="logo" width="100"
                     class="shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
                <div class="card-header"><h4>Register</h4></div>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="card-body">
                    <form method="POST" action="{% url 'add_intern_records' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-6">
                                <label>First Name</label> <br>
                                {{ user.first_name }}
                            </div>

                            <div class="form-group col-6">
                                <label for="middle_name">Middle Initial</label>
                                {% if form.middle_name.value != 'n/a' %}
                                    {{ form.middle_name }}
                                {% endif %}
                            </div>

                            <div class="form-group col-6">
                                <label>Last Name</label><br>
                                {{ user.last_name }}
                            </div>

                            <div class="form-group col-6">
                                <label for="suffix">Suffix</label>
                                {% if form.suffix.value != 'n/a' %}
                                    {{ form.suffix }}
                                {% endif %}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="present_address">Present Address</label>
                            {{ form.present_address }}
                        </div>
                        <div class="row">
                            <div class="form-group col-6">
                                <label for="academic_year">Academic Year</label>
                                {{ form.academic_year }}
                            </div>

                            <div class="form-group col-6">
                                <label for="{{ form.semester.id_for_label }}">Semester</label>
                                {{ form.semester }}
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-4">
                                <label for="{{ form.course.id_for_label }}">Course</label>
                                {{ form.course }}
                            </div>

                            <div class="form-group col-4">
                                <label for="year_level">Year Level</label>
                                {{ form.year_level }}
                            </div>

                            <div class="form-group col-4">
                                <label for="block">block</label>
                                {{ form.block }}
                            </div>

                            <div class="form-group col-6">
                                <label for="ojt_hours">OJT Hours:</label>
                                <span id="ojt_hours_value">{{ form.get_ojt_hours }} hrs</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label>Email</label><br>
                                {{ user.email }}
                            </div>

                            <div class="form-group col-6">
                                <label for="student_id">Student Number</label>
                                {{ form.student_id }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Username</label><br>
                            {{ user.username }}
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="company_name">Company Name</label>
                                {{ form.company_name }}
                            </div>

                            <div class="form-group col-6">
                                <label for="address">Company Address</label>
                                {{ form.address }}
                            </div>

                            <div class="form-group col-6">
                                <label for="contact_person">Contact Person</label>
                                {{ form.contact_person }}
                            </div>

                            <div class="form-group col-6">
                                <label for="contact_number">Contact Address</label>
                                {{ form.contact_number }}
                            </div>

                            <div class="form-group col-6">
                                <label for="profile_image">Profile Image</label>
                                {{ form.profile_image }}
                            </div>

                            <div class="form-group col-6">
                                <label for="status">Internship Status</label>
                                {{ form.status }}
                            </div>
                        </div>

                </div>

                <div class="form-divider align-center">
                    <div class="form-group">
                        <button type="submit" value="submit" class="btn btn-primary btn-block">
                            Update
                        </button>
                    </div>
                </div>

                </form>
            </div>
        </div>
    </div>
</div>
</div>

<!-- General JS Scripts -->
<script src="{% static 'assets/modules/jquery.min.js' %}"></script>
<script src="{% static 'assets/modules/popper.js' %}"></script>
<script src="{% static 'assets/modules/tooltip.js' %}"></script>
<script src="{% static 'assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'assets/modules/moment.min.js' %}"></script>
<script src="{% static 'assets/js/stisla.js' %}"></script>

<!-- JS Libraries -->
<script src="{% static 'assets/modules/jquery-pwstrength/jquery.pwstrength.min.js' %}"></script>
<script src="{% static 'assets/modules/jquery-selectric/jquery.selectric.min.js' %}"></script>

<!-- Page Specific JS File -->
<script src="{% static 'assets/js/page/auth-register.js' %}"></script>

<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#id_course').on('change', function () {
            var selectedCourse = $(this).val();
            var ojtHours = {
                'BSIT': 366,
                'BSIS': 366,
                'BSCS': 182,
                'BSA': 300,
                'BSAIS': 400,
                'BPA': 300
            };

            var ojtHoursValue = ojtHours[selectedCourse] || 0;
            $('#ojt_hours_value').text(ojtHoursValue + ' hrs');
        });
    });
</script>

</body>
</html>