{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Password Reset Confirmation &rsaquo; Internship System</title>
    <link rel="website icon" type="png" href="{% static 'assets/img/SSUlogo.png' %}">
    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA --></head>

<body style="background-color: #e7e7e7;
        background-image: url('{% static 'assets/img/SorSu_cover.jpg' %}');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; /* Optional: Fixed background image */
        /* Additional styling properties like background-position, background-color, etc. */
        ">

<div class="wrapper" id="loader">
    <div class="box-wrap">
        <div class="box one"></div>
        <div class="box two"></div>
        <div class="box three"></div>
        <div class="box four"></div>
        <div class="box five"></div>
        <div class="box six"></div>
    </div>
</div>

<div id="app">
    <div class="main-wrapper main-wrapper-1">

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <div class="card card-primary" style="background-color: rgba(255, 255, 255, 0.8);">
                                <div class="card-body">
                                    <div class="empty-state" data-height="500">
                                        <div class="empty-state-icon">
                                            <i class="fas fa-check"></i>
                                        </div>
                                        <h2>Password Reset Complete</h2>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>You may now close this page.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>
</div>
<script>
    window.addEventListener('load', function () {
        const loader = document.getElementById('loader');
        setTimeout(function () {
            loader.style.opacity = '0';
            setTimeout(function () {
                loader.style.display = 'none';
            }, 1000); // Hide the loader 1 second after fading out
        }, 2000); // Start fading out after 2 seconds
    });

</script>
<!-- General JS Scripts -->
<script src="{% static 'assets/modules/jquery.min.js' %}"></script>
<script src="{% static 'assets/modules/popper.js' %}"></script>
<script src="{% static 'assets/modules/tooltip.js' %}"></script>
<script src="{% static 'assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'assets/modules/moment.min.js' %}"></script>
<script src="{% static 'assets/js/stisla.js' %}"></script>

<!-- JS Libraries -->

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>