{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Password Reset Confirmation &rsaquo; Internship System</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA --></head>

<body style="background-color: #efefef;">

<div id="app">
    <div class="main-wrapper main-wrapper-1">

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12 col-md-9">
                            <div class="card">
                                <div class="card-body">
                                    <div class="empty-state" data-height="500">
                                        <div class="empty-state-icon">
                                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <h2>Processing Password Reset</h2>
                                        <div class="d-flex justify-content-center align-items-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p>An email was sent to your account with instructions on how to
                                                        reset password.</p>
                                                    <div class="mt-5 text-muted text-center">
                                                        Try to login. <a href="{% url 'login' %}">Back to Login</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


    </div>
</div>

<!-- General JS Scripts -->
<script src="{% static 'assets/modules/jquery.min.js' %}"></script>
<script src="{% static 'assets/modules/popper.js' %}"></script>
<script src="{% static 'assets/modules/tooltip.js' %}"></script>
<script src="{% static 'assets/modules/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'assets/modules/moment.min.js' %}"></script>
<script src="{% static 'assets/js/stisla.js' %}"></script>

<!-- JS Libraries -->

<!-- Page Specific JS File -->

<!-- Template JS File -->
<script src="{% static 'assets/js/scripts.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>