{% extends 'adminbase.html' %}

{% block title %}Modules &rsaquo; DataTables &mdash; Stisla{% endblock %}

{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'assets/modules/datatables/datatables.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}">
{% endblock %}


{% block content %}
    <div class="main-content">
        <section class="section">

            <div class="card card-dark profile-widget" style="margin-top: 50px;">
                <div class="profile-widget-header">
                    <img alt="image"
                         src="{% static 'assets/img/unsplash/eberhard-grossgasteiger-1207565-unsplash.jpg' %}"
                         class="rounded-circle profile-widget-picture" style="width: 140px; height: 140px;">
                    <div class="profile-widget-items">
                        <div class="profile-widget-item" style="text-align: left; margin-left: 30px;">
                            <div class="profile-widget-item-value" style="font-size: 28px;">
                                <strong>
                                    {{ intern.user.first_name }}
                                    {% if intern.middle_name != 'n/a' %}
                                        {{ intern.middle_name }}
                                    {% endif %}

                                    {{ intern.user.last_name }}

                                    {% if intern.suffix != 'n/a' %}
                                        {{ intern.suffix }}
                                    {% endif %}
                                </strong>
                            </div>
                            <div class="profile-widget-item-value">{{ intern.user.email }}</div>
                            <div class="profile-widget-item-value">{{ intern.user.username }}</div>
                            <div class="profile-widget-item-value">{{ intern.student_id }}</div>
                        </div>

                        <div class="profile-widget-item" style="margin-right: 100px;">

                            <form method="post">
                                {% csrf_token %}

                                <div class="form-group">
                                    <label for="{{ form.status.id_for_label }}">Status:</label>
                                    <select name="{{ form.status.name }}" class="custom-select" required>
                                        {% for value, label in form.status.field.choices %}
                                            <option value="{{ value }}"
                                                    {% if value == form.status.value %}selected{% endif %}>{{ label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Save Status</button>
                                    <a href="{% url 'intern_list' %}" class="btn btn-danger">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

{% endblock %}

{% block scripts %}
    <!-- JS Libraies -->
    <script src="{% static 'assets/modules/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/modules/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'assets/modules/datatables/Select-1.2.4/js/dataTables.select.min.js' %}"></script>
    <script src="{% static 'assets/modules/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/modules-datatables.js' %}"></script>
    <script src="{% static 'assets/modules/owlcarousel2/dist/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/page/components-user.js' %}"></script>


{% endblock %}