{% extends 'adminbase.html' %}
{% load static %}

{% block title %}Interns List{% endblock %}

{% block head %}

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/css/internlist.css' %}">

{% endblock %}


{% block content %}

    <h1 class="internhead">Intern List</h1>
    <table>
        <tr>
            <th>Username</th>
            <th>Student ID</th>
            <th>Name</th>
            <th>Course</th>
            <th>Company</th>
            <th>Contact Person</th>
            <th>Address</th>
            <th>Status</th>
            <th>Join Date</th>
        </tr>
        {% for intern in interns %}
            <tr>
                <td>{{ intern.user.username }}</td>
                <td>{{ intern.student_id }}</td>
                <td>{{ intern.user.first_name }}
                    {% if intern.middle_name != 'n/a' %}
                        {{ intern.middle_name }}
                    {% endif %}

                    {{ intern.user.last_name }}

                     {% if intern.suffix != 'n/a' %}
                        {{ intern.suffix }}
                    {% endif %}</td>
                <td>{{ intern.course }}</td>
                <td>{{ intern.company_name }}</td>
                <td>{{ intern.contact_person }}</td>
                <td>{{ intern.address }}</td>
                <td>{{ intern.status }}</td>
                <td>{{ intern.pub_date }}</td>

            </tr>
        {% endfor %}
    </table>


{% endblock %}
