{% extends 'adminbase.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-social/bootstrap-social.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/create_announcement.css' %}">

{% endblock %}


{% block content %}
    <div class="main-content" style="min-height: 569px;">

        <section class="section" style="margin-top: 12px;">
            <div class="section-header">

                <h1>Announcement</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active">Dashboard</div>
                    <div class="breadcrumb-item">Announcement</div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon bg-primary">
                            <i class="far fa-user"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>Total Interns</h4>
                            </div>
                            <div class="card-body">
                                362
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon bg-danger">
                            <i class="far fa-newspaper"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>BSIT</h4>
                            </div>
                            <div class="card-body">
                                184
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon bg-warning">
                            <i class="far fa-file"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>BPA</h4>
                            </div>
                            <div class="card-body">
                                84
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="card card-statistic-1">
                        <div class="card-icon bg-success">
                            <i class="fas fa-circle"></i>
                        </div>
                        <div class="card-wrap">
                            <div class="card-header">
                                <h4>BSCS</h4>
                            </div>
                            <div class="card-body">
                                94
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-md-5 float-right mb-3" style="margin-top: -5px;">
                <div class="card-header">
                    <h4>Intern Progress</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled user-progress list-unstyled-border list-unstyled-noborder">
                        <li class="media">
                            <img alt="image" class="mr-3 rounded-circle" width="50"
                                 src="{% static 'assets/img/avatar/avatar-1.png' %}">
                            <div class="media-body">
                                <div class="media-title">Princess Kaye Rogacion</div>
                                <div class="text-job text-muted">GSAC</div>
                            </div>
                            <div class="media-progressbar">
                                <div class="progress-text">30%</div>
                                <div class="progress" data-height="6" style="height: 6px;">
                                    <div class="progress-bar bg-primary" data-width="30%" style="width: 30%;"></div>
                                </div>
                            </div>
                            <div class="media-cta">
                                <a href="#" class="btn btn-outline-primary">Detail</a>
                            </div>
                        </li>
                        <li class="media">
                            <img alt="image" class="mr-3 rounded-circle" width="50"
                                 src="{% static 'assets/img/avatar/avatar-5.png' %}">
                            <div class="media-body">
                                <div class="media-title">Vanessa Gracela</div>
                                <div class="text-job text-muted">Jollibee Bulan</div>
                            </div>
                            <div class="media-progressbar">
                                <div class="progress-text">67%</div>
                                <div class="progress" data-height="6" style="height: 6px;">
                                    <div class="progress-bar bg-primary" data-width="67%" style="width: 67%;"></div>
                                </div>
                            </div>
                            <div class="media-cta">
                                <a href="#" class="btn btn-outline-primary">Detail</a>
                            </div>
                        </li>
                        <li class="media">
                            <img src="{% static 'assets/img/avatar/avatar-4.png' %}" alt="image"
                                 class="mr-3 rounded-circle" width="50">

                            <div class="media-body">
                                <div class="media-title">Sherrelyn Chavez</div>
                                <div class="text-job text-muted">PNB Bulan</div>
                            </div>
                            <div class="media-progressbar">
                                <div class="progress-text">45%</div>
                                <div class="progress" data-height="6" style="height: 6px;">
                                    <div class="progress-bar bg-primary" data-width="45%" style="width: 45%;"></div>
                                </div>
                            </div>
                            <div class="media-cta">
                                <a href="#" class="btn btn-outline-primary">Detail</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="section-body" style="margin-top: -5px; margin-left: -14px; padding-top: 0;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header col-md-11">
                                <h4 id="currentDate" style="font-size: 13px;"></h4>
                                <div class="col-md-8 text-right">
                                    <button class="btn btn-primary"
                                            onclick="window.location.href='{% url 'create_announcement' %}' ">Create
                                        Announcement
                                    </button>
                                </div>
                            </div>

                            <div class="card-body">

                                <ul style="list-style-type: none; padding: 0px;">
                                    {% for announcement in announcements %}
                                        {% if announcement.announcement_list %}
                                            <li class="list-item announcement-item" style="text-align: center;">
                                                <div class="card card-primary"
                                                     style="margin-top: 10px; background-color: #f3f3f3;">

                                                <span class="announcement-text">
                                                    News Update: {{ announcement.announcement_list|safe }}
                                                </span>
                                                    {% if announcement.image_announcement %}
                                                        <img src="{{ announcement.image_announcement.url|safe }}"
                                                             alt="Announcement Image" class="announcement-image">
                                                    {% endif %}
                                                    {% if announcement.document_announcement %}
                                                        <a href="{{ announcement.document_announcement.url|safe }}"
                                                           target="_blank" class="announcement-link">View Document</a>
                                                    {% endif %}

                                                    <form method="post" action="{% url 'homepage' %}"
                                                          class="delete-announcement-form">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="delete_announcement" value="1">
                                                        <input type="hidden" name="announcement_id"
                                                               value="{{ announcement.id }}">
                                                        <button type="button" class="btn delete-button" style="margin-top: 7px;"
                                                                data-announcement-id="{{ announcement.id }}">Delete
                                                        </button>
                                                    </form>
                                                </div>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'assets/modules/summernote/summernote-bs4.js' %}"></script>
    <script src="{% static 'assets/modules/jquery-selectric/jquery.selectric.min.js' %}"></script>
    <script src="{% static 'assets/modules/upload-preview/assets/js/jquery.uploadPreview.min.js' %}"></script>
    <script src="{% static 'assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>

    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/features-post-create.js' %}"></script>


    <script src="{% static 'assets/modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
    <script src="{% static 'assets/modules/jquery-ui/jquery-ui.min.js' %}"></script>


    <!-- JS Libraies -->
    <script src="{% static 'assets/modules/sweetalert/sweetalert.min.js' %}"></script>
    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/modules-sweetalert.js' %}"></script>
    <script src="https://unpkg.com/sweetalert2@11"></script>


    <script>
        // JavaScript code to display the current date
        var currentDateElement = document.getElementById("currentDate");
        var currentDate = new Date();
        var options = {year: 'numeric', month: 'long', day: 'numeric'};
        var formattedDate = currentDate.toLocaleDateString(undefined, options);

        currentDateElement.innerHTML = "Date: " + formattedDate;
    </script>



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".delete-button");

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    const announcementId = this.getAttribute("data-announcement-id");

                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'You won\'t be able to revert this!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            const form = this.closest(".delete-announcement-form");
                            form.submit();
                        }
                    });
                });
            });
        });
    </script>


{% endblock %}