{% extends 'adminbase.html' %}
{% load static %}

{% block title %}Create Announcement{% endblock %}

{% block head %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">


    <link rel="stylesheet" href="{% static 'assets/css/create_announcement.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/jquery-selectric/selectric.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- Start GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-94034622-3');
    </script>
    <!-- /END GA -->
{% endblock %}

{% block content %}
    <div class="main-content" style="min-height: 569px;">
        <section class="section" style="margin-top: 12px;">
            <div class="section-header">
                <div class="section-header-back">
                    <a href="{% url 'announcement_list' %}" class="btn btn-icon"><i class="fas fa-arrow-left"></i></a>
                </div>
                <h1>Create New Post</h1>
                <div class="section-header-breadcrumb">
                    <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                    <div class="breadcrumb-item"><a href="{% url 'announcement_list' %}">Announcement</a></div>
                    <div class="breadcrumb-item">Create New Post</div>
                </div>
            </div>

            <div class="section-body" style="margin-top: -65px;">
                <h2 class="section-title">Create New Post</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Write Your Post</h4>
                            </div>
                            <form method="post" enctype="multipart/form-data" id="post-form">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="form-group row mb-4">
                                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                               for="{{ announcement_form.announcement_list.id_for_label }}">Title</label>
                                        <div class="col-sm-12 col-md-7">
                                            {{ announcement_form.announcement_list }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-4">
                                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                            for="{{ announcement_form.image_announcement.id_for_label }}">Thumbnail</label>
                                        <div class="col-sm-12 col-md-7">
                                            <div id="image-preview" class="image-preview">
                                                <label for="image-upload" id="image-label">Choose File</label>
                                                {{ announcement_form.image_announcement }}
                                                <img id="image-preview-img" src="#" alt="Image Preview" style="display: none; max-width: 100%">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row mb-4">
                                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"
                                               for="{{ announcement_form.document_announcement.id_for_label }}">Document</label>
                                        <div class="col-sm-12 col-md-7">
                                            {{ announcement_form.document_announcement }}
                                        </div>
                                    </div>

                                    <div class="form-group row mb-4">
                                        <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                                        <div class="col-sm-12 col-md-7">

                                            <button type="button" name="all_submit" class="btn btn-primary" onclick="createPostWithAlert()">Create Post</button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="all_submit" id="all_submit" value="0">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block scripts %}
    <!-- JS Libraies -->
    <script src="{% static 'assets/modules/summernote/summernote-bs4.js' %}"></script>
    <script src="{% static 'assets/modules/jquery-selectric/jquery.selectric.min.js' %}"></script>
    <script src="{% static 'assets/modules/upload-preview/assets/js/jquery.uploadPreview.min.js' %}"></script>
    <script src="{% static 'assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>

    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/features-post-create.js' %}"></script>




<script>
    function createPostWithAlert() {
        // Set the value of the hidden input field to "1"
        document.getElementById('all_submit').value = '1';

        Swal.fire({
            title: 'Create Post',
            text: 'Are you sure you want to create this post?',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form when the user confirms
                document.getElementById('post-form').submit();
            }
        });
    }
</script>

    <script>
    // Function to update the image preview
    function previewImage(input) {
        var imagePreview = document.getElementById('image-preview-img');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
                imagePreview.style.display = 'block'; // Display the image
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            imagePreview.style.display = 'none'; // Hide the image if no file selected
        }
    }

    // Add an event listener to the file input field
    document.getElementById('image_announcement').addEventListener('change', function () {
        previewImage(this);
    });
</script>

{% endblock %}