{% extends 'studentbase.html' %}

{% block title %}Intern Dashboard{% endblock %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-social/bootstrap-social.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/prism/prism.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/chocolat/dist/css/chocolat.css' %}">
{% endblock %}


{% block content %}
    <div class="main-content" style="min-height: 569px;">

        <section class="section" style="margin-top: 12px;">

            <div class="hero text-white hero-bg-image hero-bg-parallax text-center"
                 style="background-image: url('{% static 'assets/img/unsplash/notes.jpg' %}'); width: 100%;">

                <div class="hero-inner" style="height: 170px;">
                    <h1>Dashboard</h1>
                    <h6> See the latest announcement from your OJT Coordinator below </h6>
                    <div id="clock" style="font-size: 30px;"></div>
                    <h5>Internship Started on {{ internship.starting_month }}</h5>

                    <div class="row">
                        <div class="col-lg-6" style="text-align: left">
                            <p>Rendered Hours:
                            <h2>{{ total_hours_rendered }} hrs</h2></p>
                        </div>

                        <div class="col-lg-6" style="text-align: right">
                            <p>OJT Hours:
                            <h2>{{ max_hours }} hrs</h2></p>
                        </div>
                    </div>

                    <div class="progress mb-1">
                        <div class="progress-bar bg-warning" role="progressbar"
                             aria-valuenow="{{ remaining_hours }}"
                             aria-valuemin="0" aria-valuemax="366"
                             style="width: {{ remaining_percentage }}%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <article class="article" style="box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.2);">
                        <div class="article-header">
                            <div class="article-image" data-background="{% static 'assets/img/news/new2-01.png' %}"
                                 style="background-image: url(&quot;assets/img/news/img08.jpg&quot;);">
                            </div>
                            <div class="article-title">
                                <h2><a href="#">Internship Requirement</a></h2>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <article class="article" style="box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.2);">
                        <div class="article-header">
                            <div class="article-image" data-background="{% static 'assets/img/news/new3-01.png' %}"
                                 style="background-image: url(&quot;assets/img/news/img04.jpg&quot;);">
                            </div>
                            <div class="article-title">
                                <h2><a href="{% url 'create_announcement' %}">Narrative Report</a></h2>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                    <article class="article" style="box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.2);">
                        <div class="article-header">
                            <div class="article-image" data-background="{% static 'assets/img/news/new1-01.png' %}"
                                 style="background-image: url(&quot;assets/img/news/img12.jpg&quot;);">
                            </div>
                            <div class="article-title">
                                <h2><a href="#">Post Requirements</a></h2>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="section-body" style="margin-top: -5px; margin-left: -14px; padding-top: 0;">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header col-md-11">
                                <h4 id="currentDate" style="font-size: 13px;"></h4>
                            </div>

                            <div class="card-body">

                                <ul style="list-style-type: none; padding: 0px;">
                                    {% for announcement in announcements %}
                                        {% if announcement.announcement_list %}
                                            <li class="list-item announcement-item" style="text-align: center;">
                                                <div class="card card-primary"
                                                     style="margin-top: 10px; background-color: #f3f3f3;">

                                                <span class="announcement-text">
                                                    Posted on: {{ announcement.pub_date|date:"F d, Y" }}<br>
                                                    {{ announcement.announcement_list|safe }}
                                                </span>
                                                    {% if announcement.image_announcement %}
                                                        <img src="{{ announcement.image_announcement.url|safe }}"
                                                             width="50%"
                                                             alt="Announcement Image" class="announcement-image"
                                                             style="display: block; margin: 0 auto;">
                                                    {% endif %}
                                                    {% if announcement.document_announcement %}
                                                        <a href="{{ announcement.document_announcement.url|safe }}"
                                                           target="_blank" class="announcement-link">View Document</a>
                                                    {% endif %}
                                                </div>

                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>

{% endblock %}

{% block scripts %}

    <script src="{% static 'assets/modules/summernote/summernote-bs4.js' %}"></script>
    <script src="{% static 'assets/modules/jquery-selectric/jquery.selectric.min.js' %}"></script>
    <script src="{% static 'assets/modules/upload-preview/assets/js/jquery.uploadPreview.min.js' %}"></script>
    <script src="{% static 'assets/modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>

    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/features-post-create.js' %}"></script>


    <script src="{% static 'assets/modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
    <script src="{% static 'assets/modules/jquery-ui/jquery-ui.min.js' %}"></script>


    <!-- JS Libraies -->
    <script src="{% static 'assets/modules/sweetalert/sweetalert.min.js' %}"></script>
    <!-- Page Specific JS File -->
    <script src="{% static 'assets/js/page/modules-sweetalert.js' %}"></script>
    <script src="https://unpkg.com/sweetalert2@11"></script>


    <script>
        // JavaScript code to display the current date
        var currentDateElement = document.getElementById("currentDate");
        var currentDate = new Date();
        var options = {year: 'numeric', month: 'long', day: 'numeric'};
        var formattedDate = currentDate.toLocaleDateString(undefined, options);

        currentDateElement.innerHTML = "Date: " + formattedDate;
    </script>



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll(".delete-button");

            deleteButtons.forEach(function (button) {
                button.addEventListener("click", function () {
                    const announcementId = this.getAttribute("data-announcement-id");

                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'You won\'t be able to revert this!',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            const form = this.closest(".delete-announcement-form");
                            form.submit();
                        }
                    });
                });
            });
        });
    </script>


{% endblock %}