{% extends 'studentbase.html' %}
{% load static %}

{% block title %}Upload DTR{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/prism/prism.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/chocolat/dist/css/chocolat.css' %}">
{% endblock %}

{% block content %}
    <div class="main-content" style="min-height: 569px;">

        <section class="section mr-3" style="margin-top: 2px;">
            <div class="hero text-white hero-bg-image hero-bg-parallax text-center"
                 style="background-image: url('{% static 'assets/img/unsplash/night2.jpg' %}');  margin-left: -35px;  margin-right: -46px;">

                <div class="hero-inner" style="height: 220px;">
                    <h1>Narrative Report Panel</h1>
                    <div id="clock" style="font-size: 40px; font-weight: bold;"></div>

                    <p>Please write or upload your narrative report below.</p>

                    <div class="row">
                        <div class="col-lg-12">
                            <a href="#" class="btn btn-outline-white btn-lg btn-icon icon-left" data-toggle="modal"
                               data-target="#addWeeklyBinModal">
                                <i class="fa fa-folder-open" aria-hidden="true"></i>Upload File</a><br>
                        </div>
                    </div>
                    {% if messages %}
                        <ul class="alert alert-light alert-dismissible show fade" style="list-style-type: none; margin-top: 10px;">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                <button class="close" data-dismiss="alert">
                                    <span>×</span>
                                </button>
                            {% endfor %}

                        </ul>
                    {% endif %}

                </div>
            </div>


            <div class="document-container">
                <div class="row">

                    {% for narrative in narrative %}
                        <div class="col-md-6">
                            <div class="card card-primary" style="margin-top: 15px;">
                                <div class="card-header">
                                    <h4>Narrative No.:</h4> <u>{{ narrative.Narrative_Number }}</u>
                                    <a data-collapse="#mycard-collapse-{{ forloop.counter }}"
                                       class="btn btn-icon btn-info" href="#" style="margin-left: 260px;"><i
                                            class="fas fa-plus"></i></a>
                                </div>
                                <div class="collapse" id="mycard-collapse-{{ forloop.counter }}">
                                    <div class="card-body">
                                        <h6>Narrative Content:</h6>
                                        <span class="narrative-text">{{ narrative.Narrative_Text|safe }}</span><br>

                                        <h6>Narrative Report Submission:</h6>
                                        <a href="{{ form.document_submission.url }}"
                                           target="_blank">{{ narrative.document_submission.name }}</a><br>
                                        <!-- Add a button for preview or download if needed -->
                                    </div>
                                    <div class="card-footer">
                                        Card Footer
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-md-6">
                            No Narrative Reports have been uploaded yet.
                        </div>
                    {% endfor %}
                </div>
            </div>


        </section>
    </div>

    <!-- Modal for Adding Weekly Bin -->
    <div class="modal fade" id="addWeeklyBinModal" tabindex="-1" role="dialog"
         aria-labelledby="addWeeklyBinModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addWeeklyBinModalLabel">Upload File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/modules/prism/prism.js' %}"></script>
    <script>
        function updateClock() {
            const clockElement = document.getElementById('clock');
            const now = new Date();
            const hours = now.getHours();
            const amPm = hours >= 12 ? 'PM' : 'AM';
            const twelveHourFormat = (hours % 12 || 12).toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');
            const timeString = `${twelveHourFormat}:${minutes}:${seconds} ${amPm}`;
            clockElement.textContent = timeString;
        }

        // Update the clock every second
        setInterval(updateClock, 1000);

        // Initial call to set the clock
        updateClock();
    </script>

    <script>
        $('#addWeeklyBinModal').on('hidden.bs.modal', function (e) {
            $('.modal-backdrop').remove();
        });
    </script>
    </div>
{% endblock %}
