{% extends 'adminbase.html' %}
{% load static %}

{% block title %}Create Weekly Report{% endblock %}


{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/modules/bootstrap-social/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/prism/prism.css' %}">
    <link rel="stylesheet" href="{% static 'assets/modules/chocolat/dist/css/chocolat.css' %}">

{% endblock %}

{% block content %}

    <div class="main-content" style="min-height: 569px;">

        <section class="section" style="margin-top: 2px;">
            <div class="hero text-white hero-bg-image hero-bg-parallax text-center"
                 style="background-image: url('{% static 'assets/img/unsplash/andre-benz-1214056-unsplash.jpg' %}');
                         height: 230px;
                         margin-left: -35px;  margin-right: -46px;">

                <div class="hero-inner" style="height: 200px;">
                    <div style="font-size: 35px; font-weight: 700;">
                    <strong>{{ intern.user.first_name }}
                        {% if intern.middle_name != 'na' %}
                            {{ intern.middle_name }}
                        {% endif %}

                        {{ intern.user.last_name }}

                        {% if intern.suffix != 'na' %}
                            {{ intern.suffix }}
                        {% endif %}</strong><br>
                    Record of Weekly Report
                    </div>

                </div>
            </div>


            <ul id="weekly-bins-list" class="list-unstyled row" style="margin-top: 15px;">
                {% for weekly_bin in weekly_bins %}
                    <li class="col-12 col-md-6 col-lg-6">
                        <div class="card card-dark">
                            <div class="card-header">
                                <h4>Week {{ weekly_bin.week_number }}</h4>
                                <div class="card-header-action">
                                    <button class="btn btn-warning"
                                       style="color: #131313;
                                       border-color: #5d4000;">
                                       {{ weekly_bin.rendered_hours }} hrs
                                    </button>

                                    <a data-collapse="#mycard-collapse-{{ forloop.counter }}"
                                       class="btn btn-icon btn-info" style="background-color: #0E1112" href="#"><i class="fas fa-plus"></i></a>
                                </div>
                            </div>
                            <div class="collapse" id="mycard-collapse-{{ forloop.counter }}" style="">
                                <div class="card-body">
                                    {{ weekly_bin.Weekly_text|safe }}
                                </div>
                                 <div class="card-footer">
                                    Weekly Hours Rendered: <h6>{{ weekly_bin.rendered_hours }} hours</h6>
                                    {% if weekly_bin.document_submission %}
                                        <a href="{{ weekly_bin.document_submission.url }}" class="btn btn-info"
                                           download>{{ weekly_bin.document_submission.name }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                    </li>

                {% endfor %}
            </ul>

        </section>
    </div>

    <!-- Modal for Adding Weekly Bin -->
    <div class="modal fade" id="addWeeklyBinModal" tabindex="-1" role="dialog"
         aria-labelledby="addWeeklyBinModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addWeeklyBinModalLabel">Add Weekly Bin</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="weekNumberInput">Week Number:</label>
                            <input type="text" class="form-control" id="weekNumberInput" name="week_number">
                        </div>
                        <!-- You can include other form fields here if needed -->
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}

    <script src="{% static 'assets/modules/prism/prism.js' %}"></script>
    <script>
        function updateClock() {
            const clockElement = document.getElementById('clock');
            const now = new Date();
            const hours = now.getHours();
            const amPm = hours >= 12 ? 'PM' : 'AM';
            const twelveHourFormat = (hours % 12 || 12).toString().padStart(2, '0');
            const minutes = now.getMinutes().toString().padStart(2, '0');
            const seconds = now.getSeconds().toString().padStart(2, '0');
            const timeString = `${twelveHourFormat}:${minutes}:${seconds} ${amPm}`;
            clockElement.textContent = timeString;
        }

        // Update the clock every second
        setInterval(updateClock, 1000);

        // Initial call to set the clock
        updateClock();
    </script>



{% endblock %}